*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#primeirafaixa { 
    background-color: rgb(0, 66, 12);
    padding-bottom: 1%;
    
    
}

#infosuperior {
    display: flex;
    flex-direction: row;
    margin-left: 75%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 1%;
    
}

#segundafaixa {
    background-color: rgb(20,129,41);
    padding-bottom: 2%;

}

#logoif {
    margin-left: 5%;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    padding-top: 30px;
}

#terceirafaixa { 
    background-color: rgb(0, 66, 12);
    padding-bottom: 1%;
    
    
}

#infocurso {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 0;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 1%;
}

#logotsi {
    width: 160px;
    height: 160px;
    margin-top: 15px;
    margin-left: 11%;
}

#nomecurso {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style:unset;
    color: black;
    margin-left: 3%;
    margin-top: 38px;
    text-shadow: 2px 1px rgb(108, 108, 108);
    
}

#princialcurso {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#inforcamaoesdosbotoes {
   display:inline-block;
   position: absolute;
   margin-top: 2%;
   margin-bottom: 10%;
   margin-right: 8%;
   margin-left: 12%;
   width: 75%;
   height: 450px;
   border-radius: 20px;
   border-style: solid;
   border-color: rgba(45, 44, 57, 0.5);
   border-width: 8px;
}

#btnhome, #btnoutrasinformacoes, #btnnde, #btncolegiado, #btncpa, #btncorpodocente, #btngestaodocurso, #btnhorariodasturmas, #btnregulamentodasturmas {

    max-width: 150px;
    font-size: 1em;
    flex-direction: column;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: flex;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: 8px 10px;
    margin-bottom: 10px;
    margin-right: 0;


}

#btnhome, #btnoutrasinformacoes, #btnnde, #btncolegiado, #btncpa, #btncorpodocente, #btngestaodocurso, #btnhorariodasturmas, #btnregulamentodasturmas:hover {

    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: rgb(0, 66, 12);


}

#btnhome:focus { outline: none; }

#btnhome { background-color: rgb(20,129,41); }

#btnoutrasinformacoes  { background-color: rgb(20,129,41); }

#btnnde { background-color: rgb(20,129,41); }

#btncolegiado { background-color: rgb(20,129,41); }

#btncpa { background-color: rgb(20,129,41); }

#btncorpodocente { background-color: rgb(20,129,41); }

#btngestaodocurso { background-color: rgb(20,129,41); }

#btnhorariodasturmas { background-color: rgb(20,129,41); }

#btnregulamentodasturmas { background-color: rgb(20,129,41); }
