*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#teste {
    background-color: rgb(0, 66, 12);
    padding-bottom: 1%;
    
    
}

#infosuperior {
    display: flex;
    flex-direction: row;
    margin-left: 75%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 1%;
    
}

#segundafaixa {
    background-color: rgb(20,129,41);
    padding-bottom: 6%;

}

#logoif {
    margin-left: 5%;
    margin-top: 2px;
}
